@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');


* {
    text-decoration: none;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    box-sizing: border-box;
    overflow-x: hidden;
    /* font-family: "Oswald", sans-serif; */
    font-family: "Oswald", sans-serif;
    font-weight: 700;    
    /* letter-spacing: 1px; */
}
    
:root {
    --primary-color: #0761f2;
    --primary2-color: #1b465f;
    --bg-color: #08d84d;
    --second-bg-color: #beb2b2;
    --first-text-color: #fff;
    --second-text-color: #eae9f1;
    --third-text-color: #bebcbc;
    --fourth-text-color: #f7d1d1ca;
    --main-color: #1b465f;
    --nav-color: #0f5dd3;
    --nav2-color:#171175;
    --btn-color: #17301d;
    --btn2-color: #020274;
    --btn3-color: #e21818;
    --shadow: 1px 1px 1px #000;
    --box-shadow2: rgb(0 0 2 / 35%) 0px 20px 30px -10px;
}


p {
    color: #2c2c2c;
    font-weight: 500;
}

.pad-5 {
    padding: 0 5%;
}



/* main nav */
.main-nav {
    width: 100%;
    background: #f8f8fc;
    z-index: 99;
}
.main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 90px;
    margin: 0 auto;
}

.fixy {
    position: fixed;
    top: 0;
    border-bottom: 5px solid var(--main-color);
    background: #f8f8fc;
    transition: 1s;
}

.logo {
    color: var(--main-color);
    font-weight: 600;
    font-size: 28px;
    text-shadow: var(--shadow);
    transition: .5s;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.navbar a {
    color: var(--nav-color);
    font-size: 19px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .5s;
    z-index: 1;
    padding: 0 23px;
    position: relative;
}

.navbar a:active {
    color: #fff;
}

.navbar span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 89px;
    background: var(--primary2-color);
    border-radius: 10px;
    transition: .5s;
}

.navbar a:hover{
    color: #fff;
}

.navbar a:nth-child(1):hover~span {
    left: 0;
}
.navbar a:nth-child(2):hover~span {
    left: 93px;
}
.navbar a:nth-child(3):hover~span {
    left: 180px;
    width: 130px;
}
.navbar a:nth-child(4):hover~span {
    left: 309px;
    width: 109px;
}
.navbar a:nth-child(5):hover~span {
    left: 416px;
    width: 105px;
}
.navbar a:nth-child(6):hover~span {
    left: 518px;
    width: 109px;
}

.main-nav-container .open-menu{
    display: none;
}
.main-nav-container .open-menu i {
    font-size: 30px;
}

.btn {
    background: var(--primary2-color);
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--nav-color);
    transition: .5s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--nav-color);
    color: var(--first-text-color);
    transform: scale(1.1);
}


/* header image  */

.header-image {
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/gallery-1675672368.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image h1 {
    font-size: 2rem;
    color: var(--second-text-color);
    font-family: "Vidaloka", serif;
    font-weight: 900;
}


/* our mission and vission section starts */

.vision-mission {
    padding: 70px 0;
}

.address h2,
.mission h2,
.vision h2 {
    font-family: "Vidaloka", serif;
    font-weight: 900;
    color: var(--nav-color);
}

.vision-mission-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.vision-mission-content {
    width: 60%;
}

.vision-mission-content .address h2{
    margin-top: 0;
}

.vision-width {
    width: 40%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.vision-img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 0 40px;
}

.vision-img img {
    width: 100%;
    height: 100%;
    border-radius: 0 40px;
    box-shadow: 0 0 10px var(--nav-color);
}


/* Academics section */

.academic-section {
    padding: 70px 50px;
}

.overview h1 {
    text-align: center;
}

.overview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.departments,
.second-departments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 100px 0;
}

.primary-department img,
.nursery-department img,
.creche-department img{
    width: 35em;
}

.academic-section hr {
    width: 100%;
    height: 5px;
    background-color: red;
}



/* line section */
.line-section {
    background: linear-gradient(#0000009d, #000000a4), url(../images/1.png);
    background-position: center;
    background-size: cover;
    height: 16em;
    width: 96%;
    border-radius: 0 3rem;
    margin: 0 auto;
}

.line-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.line-content h1 {
    color: #fff;
    font-size: 3em;
}

.line-content h2 {
    color: var(--btn3-color);
}

.line-wrapper a{
    color: #fff;
    padding: 20px 15px ;
}



/* image gallery section */


.image-gallery {
    padding: 80px 0;
}

.image-gallery h1 {
    text-align: center;
    font-size: 37px;
    color: var(--main-color);
    margin: 0 0 50px 0;
    font-family: "Vidaloka", serif;
    font-weight: 900;
}

.image-gallery-main {
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 0 5px #000;
}

.image-gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery-wrapper img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.image-gallery-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.image-gallery-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 250px;
    grid-auto-flow: dense;
}

.image-gallery-container .tall {
    grid-row: span 2;
}
.image-gallery-container .wide {
    grid-column: span 2;
}
.image-gallery-container .big {
    grid-column: span 2;
    grid-row: span 2;
}


/* Contact */

.contact {
    margin: 100px 0;
}

.section-title {
    text-align: center;
    margin-bottom:40px;
    color: var(--main-color);
}

.section-title h3{
    color: var(--primary2-color);
    margin: 0;
}

.section-title h4{
    color: var(--btn-color);
    margin: 0;
}

.contact-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.contact-info-item1 {
    text-align: center;
}

.contact-info-item1 i {
    font-size: 25px;
    color: var(--primary2-color) !important;
}

.contact-info-item1 p {
    color: #2e2d2d;
    font-weight: 400;
    margin: 0;
}

.second-section-title {
    text-align: center;
    margin: 60px 0 40px 0;
    color: var(--main-color);
}

.second-section-title h3 {
    color: var(--primary2-color);
}

.second-section-title h4 {
    color: var(--btn-color);
}

.contact-form {
    width: 70%;
    margin: 0 auto;
}

.contact-form input[type=text], 
.contact-form input[type=email],
.contact-form .form-group textarea {
    padding-left: 20px; 
    color: #fff;
}
  
.contact-form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contact-form-group .form-group {
    width: 100%;
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border-radius: 25px;
    padding: 18px 0;
    background: var(--third-text-color); 
    border: 1px solid ;
    margin: 10px 0;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 3px solid var(--main-color);
    outline: none;
}

.contact-form textarea {
    height: 70px;
    resize: none;
}

.form-btn {
    text-align: right;
}
.form-btn .btn {
    color: #fff;
    padding: 15px;
    border-radius: 25px;
}


/* footer section */

.footer {
    background-color: var(--primary2-color);
    border-top: 1px solid #414040;
    padding-bottom: 40px;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    color: #fff;
}

.footer-more-info h2,
.footer-about-us-links h2,
.footer-contact h2{
    font-weight: 900;
}

.footer-more-info {
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.footer-more-info h2 {
    font-weight: 900;
}

.footer-more-info img{
    width: 203px;
    background-color: #fff;
    border-radius: 4px;
}

.footer-about-us-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-about-us-links a{
    color: #929c92;
}

.footer-about-us-links a:hover{
    color: #eff5ef;
}

.contact-info {
    margin-bottom: 15px;
}

.contact-info i {
    color: var(--nav-color);
}

.footer-content span {
    font-size: 13px;
    color: var(--third-text-color);
}

.footer-content span:hover {
    color: var(--first-text-color);
    cursor: pointer;
}

.footer-text p {
    font-size: 13px;
    color: var(--second-text-color);
}


.second-footer {
    padding: 15px;
    background: #112c3b;
    text-align: center;
    border-top: 1px solid #fff;
}





/* media query */
@media (max-width: 1203px) {
    .main-nav-container .open-menu{
        display: block;
    }
    .navbar {
        display: none;
    }
    .menu-position {
        position: relative;
    }
    .navbar.open-nav-menu {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        height: 82vh;
        width: 200px;
        background: #e7f9ec;
        z-index: 20;
        text-align: center;
        box-shadow: -1px 1px 10px grey;
    }
    .navbar.open-nav-menu::after {
        content: '';
        position: absolute;
        top: -11px;
        left: 0;
        width: 100%;
        height: 14px;
        background: #e7f9ec;
    }
    .navbar div {
        padding: 15px 0;
    }
    .navbar-dropdown .dropdown {
        right: 10rem;
        box-shadow: -1px 1px 10px grey;
    }

}

@media (max-width: 1138px) {
    .navbar a {
        font-size: 17px;
    }
}
@media (max-width: 1045px) {
    .footer-about-us {
        width: 80%;
    }
}

@media (max-width: 958px) {
    .vision-mission {
        padding: 30px 0;
    }
    .vision-mission-content, .vision-width {
        width: 90%;
    }
    .vision-mission-wrapper{
        flex-wrap: wrap;
        gap: 20px;
        width: 95%;
    }
    .contact-form-group {
        flex-wrap: wrap;
        gap: 0;
    }
}  
@media (max-width: 849px) {
    .founders-note {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    .contact-info-wrapper {
        justify-content: center;
        gap: 40px;
    }
    .contact {
        margin: 50px 0;
    }
}

@media (max-width: 708px) {
    .image-gallery-container {
        grid-template-columns: 1fr;
    }
    
    .image-gallery-container .tall {
        grid-row: span 1;
    }
    .image-gallery-container .wide {
        grid-column: span 1;
    }
    .image-gallery-container .big {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 588px) {
    
    .form-group-admin {
        width: 100%;
    }
    
    .inline-part {
        flex-direction: column;
    }
}  
@media (max-width: 513px) {
    .line-section::before {
        left: 100px;
    }

    .line-section::after {
        right: 100px;
    } 
    .contact {
        margin: 30px 0;
    }
}  
